
<div class="mi-listado-de-rutas">
  <p>{{user.username}}'s routes:</p>
  <ul>
  {{#each routes}}
<li><a class="enlace-rutas" href="rutas/{{this._id}}">{{this.name}}</a> ({{this.origen}}->{{this.destination}})</li>
  {{/each}}
  </ul>
</div>


