



  <div class="mostrar-una">
  <h2>Route Information</h2>
  <div class="info-ruta">
    <br>
    <p>Route name: {{oneRoute.name}}</p>
    <p>Description: {{oneRoute.description}}</p>
    <p>Origen: {{oneRoute.origen}}</p>
    <p>Destination:{{oneRoute.destination}}</p>
    

  </div>
  
      <div class="social-container">
  <div class="photo-container">
    {{#each oneRoute.photos}}
    <img src="{{this.picPath}}">
    <p>{{this.content}}</p>
    {{/each}}
  </div>

  <div class="comment-container">
    <form method="POST" action="/rutas/add-photo/{{oneRoute._id}}" enctype="multipart/form-data">
      
        <label for="content">Your comment:</label><br>
        <textarea class="textarea" name="content" placeholder="Comment"></textarea><br>
        <button class="comment-button">Comment!</button>
        <br>
      
        <label for="photo">Upload your Photos</label><br>
        <input type="file" name="photo"><br>
        <button class="upload-button"> Upload! </button>
    </form>
  </div>
</div>
      
      

  <div id="weather-list" class="prevision-metereologica">


</div>



<div id="map"></div>


<script>
  window.selectedRoute = "{{oneRoute._id}}"
</script>

<script src="/javascripts/drawmap.js"></script>