<h2>Route Information</h2>
  <ul>
    <li>{{oneRoute.name}}</li>
    <li>{{oneRoute.description}}</li>
    <li>{{oneRoute.origen}}</li>
    <li>{{oneRoute.destination}}</li>
    
  </ul>

      <div class="photo-container">
            {{#each oneRoute.photos}}
              <img src="{{this.picPath}}">
              <p>{{this.content}}</p>
            {{/each}}
        
      </div>

      <form method="POST" action="/rutas/add-photo/{{oneRoute._id}}" enctype="multipart/form-data">
            <label for="content">Your comment:</label>
            <textarea name="content" placeholder="Comment"></textarea>
            <label for="photo">Upload your Photos</label>
            <input type="file" name="photo">
            <button> U P </button>
      </form>

  
 <ul>
   <li>Ciudad: {{ciudad}}</li>
   <li>Temp min: {{min}}</li>
   <li>Temp max: {{max}}</li>
   <li>Prevision: {{prevision}}</li>
 </ul>
</div>
 

<div id="map"></div>

<script>
  window.selectedRoute = "{{oneRoute._id}}"
</script>

<script src="/javascripts/drawmap.js"></script>