<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/trekkingStyle.css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
{{!-- 
  <h2>ESTO VIENE DEL LAYOUT.HBS</h2> --}}
 <a id="main-user">{{user.username}}</a> 
  <nav class="navbar">
    {{#if user.username}}
    <a href="/profile">Home</a>
    {{/if}}
    {{#unless user.username}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/unless}}
    
    {{#if user.username}}
    <a href="/auth/logout">Logout</a>
    {{/if}}
    


  </nav>


  {{!-- <div id="logo"><p >IRONTREKKING</p></div> --}}

  {{{body}}}

  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script> --}}
  <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>